body {
    color: #40514E;
    text-align: center;
    margin: 0;
    font-family: 'merriweather', serif;
}
h1 {
    color: #66bfbf;
    font-size: 5.625rem;
    margin: 50px auto 0;
    font-family: 'sacramento', cursive;

}
h2 {
    color: #66bfbf;
    font-family: 'montserrat', sans-serif;
    font-size: 2.5rem;
    font-weight: normal;
    padding-bottom: 10px;
    margin: 50px auto;

}
h3 {
    color: #11999e;
    font-family: 'montserrat', sans-serif;
}
p {
    line-height: 2;
    color: #40514E;
}
span {
    text-decoration: underline;
}
hr {
    border: dotted 6px #a7a8a8;
    border-bottom: none;
    width: 5%;
    margin: 100px auto 100px auto ;
}
a {
    color: #11999e; 
    text-decoration: none;
    margin: 10px 20px;
    font-family: 'montserrat', sans-serif;

}
a:hover {
    color: #eaf6f6;
}
.top-container {
    background-color: #e4f9f5;
    position: relative;
    padding-top: 100px;
}
.middle-container {
    margin: 100px 0;
}
.bottom-container {
background-color: #66bfbf;
padding: 60px 0 20px;
}
.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;

}
.intro {
    width: 30%;
    margin: auto;
}
.contact-message {
    width: 40%;
    margin: 40px auto 60px;
}
.copyright {
    color: #eaf6f6;
    font-size: 0.75rem;
    padding: 20px 0;
}

.top-cloud {
    position: absolute;
    right: 500px;
    top: 50px;

}
.bottom-cloud {
    position: absolute;
    left: 500px;
    bottom: 300px;

}
.computer-img {
    width: 20%;
    border-radius: 50%;
    float: left;
    margin-right: 30px;


}
.chillies-img {
    width: 20%;
    border-radius: 50%;
    float: right;
    margin-left: 30px;
}
.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999e);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999e);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999e);
    background-image: -o-linear-gradient(top, #11CDD4, #11999e);
    background-image: linear-gradient(to bottom, #11CDD4, #11999e);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'montserrat', sans-serif;;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
  }
  .lorem {
    text-align: right;
  }
